.button {
  color: var(--button-font-color);
  font-weight: 600;
  background-color: var(--button-background-color);
  box-sizing: border-box;
  padding: 0;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 200ms linear;
}

.button:disabled {
  opacity: 0.8;
  pointer-events: none;
}

.button:active {
  transform: translateY(5%);
}
