.root {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.root input {
  border-color: var(--flight-input-border-color);
  transition: border-color 200ms linear;
}

.root input:focus {
  border-color: var(--flight-input-border-focus-color);
}

.flight-block {
  margin: 20px;
  text-align: center;
}

.title {
  margin: 0;
  margin-right: 20px;
  align-self: center;
  color: var(--title-font-color);
}

.wrapper {
  display: flex;
  gap: 1px;
  position: relative;
}

@media screen and (max-width: 700px) {
  .root {
    flex-direction: column;
    align-items: center;
    width: fit-content;
    justify-content: center;
    margin: 20px auto;
  }

  .wrapper {
    flex-direction: column;
  }

  .root button {
    background-color: var(--flight-button-background-color);
    width: 100%;
  }

  .calendar img {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .root button {
    height: auto;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: var(--flight-button-background-color);
  }
}
