.header {
  font-size: 16px;
  background-color: var(--header-background-color);
  padding: 20px;
  line-height: 20px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.header__link-container {
  display: flex;
  gap: 20px;
}

.header__link {
  text-decoration: none;
  color: var(--header-link-color);
  transition: transform 200ms linear;
}

.header__link:hover {
  color: var(--header-active-link-color);
}

.header__active-link {
  color: var(--header-active-link-color);
  transform: scale(120%);
  text-decoration: none;
}
