.footer {
  background-color: var(--card-background-color);
  color: #212429;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  justify-content: center;
}

.footer__text-block {
  margin: 20px 0;
  width: 50%;
  text-align: center;
}
